* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #212121;
    font-family: sans-serif;
}

/*--Lettertypes----------------*/

h1 {
    font-size: 1.5em;
}

p {
    color: #212121;
}



/*--de container waar alle boxjes inzitten--*/
section.container {
    display: flex;
    background-color: #4a4a4a;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: flex-start;
    transition: all ease-in .25s;
    margin-top: 50px;
}

/*--elke box die in de container zit--*/
section.container section {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    border: 1px solid #4a4a4a;
    margin: 5px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    transition: all ease-in 0.5s;
}

section.container section:hover {
    background-color: ghostwhite;
}



/*--elke box die in de container zit--*/
section.container2 {
    display: flex;
    background-color: #4a4a4a;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    transition: all ease-in .25s;
    margin-top: 50px;
}

/*--elke box die in de container zit--*/
section.container2 section {
    min-width: 300px;
    border: 1px solid #4a4a4a;
    margin: 5px;
    height: 50px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    transition: all ease-in 0.5s;
}

section.container2 section:hover {
    background-color: ghostwhite;
}

section.container3 {
    /*--Alle sections in container--*/
    margin-top: 40px;
    display: grid;
    /*--Display grid--*/
    grid-auto-flow: column;
    /*--Maken er column van of row--*/
    grid-template-columns: repeat(auto-fill, auto);
    /*--Autofill hoeveel er op het scherm passen--*/
    overflow-x: scroll;
    /*--Scroll x voor mobiel--*/
    justify-items: center;
    /*--Centeren van items--*/
    grid-gap: 10px;
    /*--Ruimte tussen elk blok 10px--*/
    margin: 10px;
}

/*--elke box die in de container zit--*/
section.container3 section {
    min-width: 150px;
    margin: 5px;
    height: 90px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.grid {
    /*--Tussenkopje--*/
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Flexbox {
    /*--Tussenkopje--*/
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}



/*--alle boxes--*/

.box1 {
    background-color: #7D84DE;
    flex: 1;
}

.box2 {
    background-color: #F24719;
    flex: 1;
}

.box3 {
    background-color: #FFD648;
    flex: 1;
}

.box4 {
    background-color: #97C173;
    flex: 1;
}

.box5 {
    background-color: #FC8C3E;
    flex: 1;
}

.box6 {
    background-color: #a449eb;
    flex: 1;
}

.box7 {
    background-color: #ff80e8;
}

.box8 {
    background-color: #33fcff;
}

.box9 {
    background-color: #991519;
}

.box10 {
    background-color: #af3d5c ;
}


/*--Einde van alle boxes--*/


/*--Media query voor het scrollen op desktop uitschakelen--*/
@media screen and (min-width: 768px) {


    section.container3 {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        justify-items: center;
        overflow-x: hidden;

    }
}