* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #212121;
    /*--Lettertype----------------*/
    font-family: sans-serif;
}

h1 {
    font-size: 1.5rem;
}

p {
    color: #212121;
}

body {
    background-image: url('../Img/bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    min-height: 100vh;
}

/*--de container waar alle boxjes inzitten--*/
section.container {
    max-width: 90vw;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all ease-in .25s;

}

/*--elke box die in de container zit--*/
section.container section {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all ease-in .3s;
}

section.container section:hover {
    background-color: ghostwhite;
}



/*--elke box die in de container zit--*/
section.container2 {
    max-width: 90vw;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all ease-in .25s;
}

/*--elke box die in de container zit--*/
section.container2 section {
    min-width: 300px;
    height: 50px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all ease-in .3s;
}

section.container2 section:hover {
    background-color: ghostwhite;
}

section.container3 section:hover {
    background-color: ghostwhite;
}

/*--Grid section!--*/
/*--Alle sections in container--*/
section.container3 {
    /*--Display grid--*/
    display: grid;
    /*--Maken er column van of row--*/
    grid-auto-flow: column;
    /*--Autofill hoeveel er op het scherm passen--*/
    grid-template-columns: repeat(auto-fill, auto);
    /*--Scroll x voor mobiel--*/
    overflow-x: scroll;
    /*--Centeren van items--*/
    justify-items: center;
    /*--Ruimte tussen elk blok 10px--*/
    grid-gap: 10px;
    margin: 10px;
}

/*--Grid section!--*/
/*--elke box die in de container zit--*/
section.container3 section {
    min-width: 150px;
    height: 90px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

/*--Grid section rows!--*/
/*--Alle sections in container--*/
section.container4 {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(auto-fill, auto);
    justify-items: center;
    grid-gap: 10px;
    margin: 10px;
}

/*--Grid section rows!--*/
/*--elke box die in de container zit--*/
section.container4 section {
    min-width: 150px;
    height: 100px;
}

/*--Tussenkopje--*/
.grid {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*--Tussenkopje--*/
.Flexbox {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}





/*--alle boxes--*/
.box1 {
    background-color: #7D84DE;
}

.box2 {
    background-color: #F24719;
}

.box3 {
    background-color: #FFD648;
}

.box4 {
    background-color: #97C173;
}

.box5 {
    background-color: #FC8C3E;
}

.box6 {
    background-color: #a449eb;
}

.box7 {
    background-color: #ff80e8;
}

.box8 {
    background-color: #33fcff;
}

.box9 {
    background-color: #991519;
}

.box10 {
    background-color: #af3d5c;
}

/*--Einde van alle boxes--*/

/*--Font Awesome icon--*/
.fa-arrows-alt-h {
    color: white;
    font-size: 40px;
    margin-left: 45.5%;
    margin-bottom: 10px;
}


/*-- In progress html css --*/

.informatie h1 {
    color: white;
    text-align: center;
    margin-top: 60px;
    font-size: 1.5rem;
}

.informatie a {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40% 0px 0px 30%;

}

.informatie p {
    color: white;
    text-align: center;
    margin-top: 4%;
    font-size: 0.8rem;
}


/*footer styling*/
footer {
    min-height: 100px;
    padding: 3rem;
    background-color: #050505;
    box-sizing: border-box;
}

footer p {
    color: white;
    text-align: center;
}

/*--Grid met foto's--*/
.container3 img,
.container4 img {
    height: 90%;
    width: 100%;
}

.page2 {
    height: 50vh;
    width: 100%;
    background-color: white;
}



/*--Media query voor Desktop--*/
@media screen and (min-width: 768px) {

    /*--Grid scrollen op desktop weghalen--*/
    section.container3 {
        overflow-x: hidden;
    }

    /*--FontAwesome icoon verplaatsen met paar procenten--*/
    .fa-arrows-alt-h {
        margin-left: 48.5%;
    }

    /*--Margin aanpassen van anchor link op desktop--*/
    .informatie a {
        margin: 10% 0px 0px 47%;

    }

    /*--Pas de paragrafen aan--*/
    .informatie p {
        margin-top: 1%;
        font-size: 1.2rem;
    }

    /*--Hover voor desktop--*/
    .informatie a:hover {
        background-color: green;
    }

    .section
}